{
  "prettier.endOfLine": "auto",
  "prettier.jsxSingleQuote": true,
  "prettier.packageManager": "npm",
  "prettier.singleQuote": true,
  "prettier.semi": false,
  "prettier.trailingComma": "none",
  "prettier.useEditorConfig": false
}
